<footer class="footer">
  <div class="footer-inner">
    <div class="center">
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/rondinelle-oliveira-7b711519a/">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
      <span class="footer-separator">|</span>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/Rondi650">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
      <span class="footer-separator">|</span>
      <span>&copy; {% now "Y" %} {{ site_setup.title }} - Todos os direitos reservados.</span>
    </div>
  </div>
</footer>
<script>
  (function () {
    if (typeof CodeMirror == 'undefined') return;
    const codes = document.querySelectorAll('pre');
    for (const code of codes) {
      const language = code.dataset.language || null;
      const text = code.textContent || code.innerText;
      const config = {
        value: text,
        tabSize: 2,
        mode: language,
        theme: 'dracula',
        lineNumbers: true,
        styleActiveLine: true,
        styleActiveSelected: true,
        lineWrapping: true,
        line: true,
        readOnly: true,
        viewportMargin: 50,
        matchBrackets: true,
      };
      const editor = CodeMirror(function (node) {
        code.parentNode.replaceChild(node, code);
      }, config);
    }
  })();
</script>
