{% if page_obj and page_obj.has_other_pages %}

<div class="pagination-wrapper">
  <div class="page">
    <nav class="pagination-links" aria-label="Pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1{{ search_url }}" title="Primeira p&aacute;gina" aria-label="Primeira p&aacute;gina">&laquo;</a>
          <a href="?page={{ page_obj.previous_page_number }}{{ search_url }}" title="P&aacute;gina {{ page_obj.previous_page_number }}" aria-label="P&aacute;gina {{ page_obj.previous_page_number }}">&lsaquo;</a>
        {% endif %}

        <span class="current" title="P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}">
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{{ search_url }}" title="Pr&oacute;xima p&aacute;gina" aria-label="Pr&oacute;xima p&aacute;gina">&rsaquo;</a>
          <a href="?page={{ page_obj.paginator.num_pages }}{{ search_url }}" title="&Uacute;ltima p&aacute;gina" aria-label="&Uacute;ltima p&aacute;gina">&raquo;</a>
        {% endif %}
      </span>
    </nav>
  </div>
</div>

{% endif %}
