<article class="post-card">
  <div class="post-img">
    <img 
      loading="lazy"
      src="https://picsum.photos/400/250/?rand=2{{ i }}" 
      alt="Post cover"
    >
  </div>
  
  <div class="post-body">
    <span class="post-tag">Django</span>
    <h3 class="post-title">
      <a href="#" style="color: inherit; text-decoration: none;">
        Lorem ipsum dolor sit amet
      </a>
    </h3>
    
    <p class="post-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nulla omnis, maiores tempore.
    </p>

    <div class="post-foot">
      <span>15 Abr 2026</span>
      <span>5 min</span>
    </div>
  </div>
</article>