<article class="post-card">
  {% if post.cover %}
  <div class="post-img">
    <a href="{{ post.get_absolute_url }}">
      <img 
        loading="lazy"
        src="{{ post.cover.url }}" 
        alt="Cover do post {{ post.title }}"
      >
    </a>
  </div>
  {% else %}
  <div class="post-img">
  </div>
  {% endif %}
  
  <div class="post-body">
    {% if post.category %}
      <span class="post-tag">{{ post.category.name }}</span>
    {% endif %}

    <h3 class="post-title">
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h3>
    
    <p class="post-desc">
      {{ post.excerpt }}
    </p>

    <div class="post-foot">
      <span>{{ post.created_at|date:'d M Y' }}</span>
      <a class="card-read-link" href="{{ post.get_absolute_url }}">leia mais</a>
    </div>
  </div>
</article>
