# mysql-connector-python==9.6.0 # para mysql
# mysqlclient==2.2.8 # sudo apt install libmysqlclient-dev | para mysql
asgiref==3.11.1
Django==6.0.4
sqlparse==0.5.5
dotenv==0.9.9
python-dotenv==1.2.2
psycopg2-binary==2.9.10 # para postgres
pillow==10.4.0 # para imagem
django-summernote==0.8.20.0